{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block navbtn %}
{% if not session.logged_in %}
	<li>
		<!--<div class="btn-group">
			<button type="button" class='btn navbar-btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:20px"></i></button>
        	<button type="button" class='btn navbar-btn btn-primary' style="width:12em; height:37px"> Sign in with Facebook</buttone>
    	</div> -->
    <a href="/login">Login or Signup</a>	
	</li>
	{% else %}
    <li>
    	<a href="/logout">Logout</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}




        <div class="jumbotron">
            <div class="container custnav">
                <i class="fa fa-bell-o fa-5x pull-left"></i>
                <h1>Don't be sorry for missing your dear one's birthdays</h1><h2>
                With Quickish, your wishes are absolutely yours at the moment. No more scheduling and no more embarassment of forgetting.</h2>
            </div>
        </div>

        <!--Row items-->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                        <i class="fa fa-facebook fa-5x"></i>
                        <h4>Sign up with facebook</h4>
                        <p>Sign up with your facebook account and authorize the application to import your friend's birthdays into the application.</p>
                </div>
                <div class="col-md-4">
                        <i class="fa fa-envelope-o fa-5x"></i>
                        <h4>Receive the remainder MAIL</h4>
                        <p>You will automatically receive an Email remainder before 3 days from your friend's birthday from the tool. </p>
                </div>
                <div class="col-md-4">
                        <i class="fa fa-reply fa-5x"></i>
                        <h4>Reply with your wishes</h4>
                        <p>Just reply the mail with wishes of your own word anytime before the birthday and it will be automatically posted at your friend's FB wall.</p>
                </div>
            </div>
        </div>



{% endblock %}
