{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}

{% block navbtn %}
<li>
	<div class="btn-group">
		<button type="button" class='btn navbar-btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:20px"></i></button>
        <button type="button" class='btn navbar-btn btn-primary' style="width:12em; height:37px"> Sign in with Facebook</buttone>
    </div>
</li>
{% endblock %}

{% block content %}

<div class ="container">
<div class="page-header">
  <h1>About</h1>
</div>

<p>An About page which is going to explain this site's micro functionality and what it is actually going to do, about me maybe
and some boggly stuff that are totally unwanted, in overall as to say in a micro line it is just a filler text now present and
i am keep on typing it so that the original content's feel could be seen via this dummy test..
<p> Yes you may wonder, how far along i am going to proceed with this unwanted notes and probably started wondering why I didn't
    used the traditional Lorem ipsum for the filler text.. well to say the truth, I really love typing and you wouldn't believe
    If I said that once I typed 126 wpm in a small competition.. I know, hard to digest, but true, sadly.. no one beleives..
</p>
</div>

{% endblock %}