{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block navbtn %}
{% if not session.logged_in %}
	<li>
		<!--<div class="btn-group">
			<button type="button" class='btn navbar-btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:20px"></i></button>
        	<button type="button" class='btn navbar-btn btn-primary' style="width:12em; height:37px"> Sign in with Facebook</buttone>
    	</div> -->
    <a href="/login">Login or Signup</a>	
	</li>
	{% else %}
    <li>
    	<a href="/logout">Logout</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}

{% endblock %}
